.introducao-bg{
    background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 160px left 20px ;
    color: var(--cor-w);
    box-shadow: inset 0 -120px var(--cor-w);
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}


.introducao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    
}

.introducao-conteudo h1{
    margin-bottom: 32px;
    
}
.introducao-conteudo h1 span{
    color: var(--cor-p1);
}
.introducao-conteudo p{
    margin-bottom: 20px;
    color: var(--cor-5);
    
}



@media (max-width: 800px) {
    .introducao-bg{
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-w);
    }

    .introducao-conteudo  h1{
        margin-bottom: 16px;
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo{
        padding-bottom: 0px;
        /* text-align: center; */
    }

    .introducao img{
        height: 300px;
        width: 100%;
    }
   
}